@charset "UTF8";

.h1 {
  margin-top: 250px;
  margin-left: 300px;
  font-size: 50px;
}

.posicao {
  margin-left: 100px;
}

.posicao2 {
  margin-top: 50px;
  margin-left: 150px;
}

.conteudo {
  display: table;
}

.imagem10 {
  display: table-cell;
  float: left;
  margin-left: 60px;
  margin-top: 70px;
}
.imagem2 {
  padding: 30px;
  margin-left: 100px;
  width: 200px;
  height: 200px;
}

.imagem3 {
  margin-left: 630px;
  width: 200px;
  height: 200px;
}

.imagem4 {
  margin-left: -60px;
  padding: 20px;
}

.imagem5 {
  margin-left: 50px;
}

.titulo {
  color: red;
  margin-top: 20px;
}

.texto {
  display: table-cell;
  float: left;
  width: 320px;
  margin-top: 50px;
  margin-left: 70px;
  text-align: justify;
  font-family: "Open Sans", Arial, sans-serif;
  text-indent: 3ch;
}

.corpo {
  margin-top: 0px;
  margin-left: 70px;
  font-size: 18pt;
}

.borda {
  border-bottom: 3px rgb(21, 46, 38) solid;
  width: 70px;
  margin-left: 70px;
  margin-top: 10px;
}

.borda-menu1 {
  border-bottom: 4px #f1f1f1 solid;
  margin-top: 70px;
  margin-left: 150px;
}

/* formatação terceira pagina*/

.corpo-contato {
  margin-top: 60px;
  text-align: center;
  font-size: 18pt;
}

.formulario {
  display: table-cell;
  float: left;
  margin-top: -5px;
  margin-left: 100px;
}

.borda-a {
  border-bottom: 4px #f1f1f1 solid;
  margin-top: 5px;
  width: 480px;
}

.borda-b {
  border-bottom: 4px #f1f1f1 solid;
  margin-top: 5px;
  width: 1010px;
}

.conteudo-a {
  display: table;
}

.texto-a {
  display: table-cell;
  float: left;
  width: 430px;
  margin-top: 100px;
  margin-left: 100px;
  text-align: justify;
}
