d {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: -100px;
  font-family: "Tangerine", serif;
  font-size: 40px;
  text-shadow: 4px 4px 4px #aaa;
}

d:hover {
  opacity: 0.7;
}

.pesquisa-box {
  transform: translate();
  background: #0a1b2d;

  height: 50px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 500px;
}

.pesquisa-texto {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #f0f5fb;
  font-size: 20px;
  line-height: 40px;
}

.lupa {
  margin-left: 0px;
  width: 20px;
  height: 40px;
  border-radius: 50%;
  background: #0a1b2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem {
  border-radius: 40px; /*Coloca a figura redondada*/
  box-shadow: 0px 0px 15px black; /*Define uma sombra*/
  margin-left: -55px;
  /*border-top: solid 5px #301852; /* borda na imagem*/
  /*border-right: solid 5px #301852; /* borda na imagem*/
  /*border-bottom: solid 5px #301852; /* borda na imagem*/
  /*border-left: solid 5px #301852; /* borda na imagem*/
  animation-name: giro;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes giro {
  75% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #301852;
  height: 8vh;
}

/*fixar o Menu*/
#memu {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  background-size: cover;
  height: 92vh;
}
